Repository snuhcs-course/swpp-2023-project-team-8, pull requests merged in 2023-11, with the labels that each got.

#14 feat: 친구 api
  backend/app/controllers/friends_controller.rb
  backend/app/controllers/users/pending_requests_controller.rb
  backend/app/controllers/users_controller.rb
  backend/app/models/friendship.rb
  backend/app/models/user.rb
  backend/app/models/user/friendable.rb
  backend/config/routes.rb
  backend/db/migrate/20231101044616_create_friendships.rb
  backend/db/schema.rb
  backend/spec/controllers/friends_controller_spec.rb
  backend/spec/models/user/friendable_spec.rb
Labels: backend

#22 feat: 백그라운드 위치 권한 요청
  frontend/app/build.gradle.kts
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/example/frontend/LoginActivity.kt
  frontend/app/src/main/java/com/example/frontend/LoginUI.kt
  frontend/app/src/main/java/com/example/frontend/MapActivity.kt
  frontend/app/src/main/java/com/example/frontend/SplashScreenActivity.kt
  frontend/app/src/main/java/com/example/frontend/api/AuthAPI.kt
  frontend/app/src/main/java/com/example/frontend/interceptor/AuthInterceptor.kt
  frontend/app/src/main/java/com/example/frontend/model/AuthResponse.kt
  frontend/app/src/main/res/values/strings.xml
Labels: frontend

#28 ML gRPC 서버 기본 구현
  ml/gen/swpp/v1/place_pb2_grpc.py
  ml/main.py
  ml/poetry.lock
  ml/pyproject.toml
  ml/tests/example_test.py
Labels: ml

#29 Introduce `Place` model
  backend/app/models/place.rb
  backend/app/services/list_place.rb
  backend/db/migrate/20231109142253_add_place_model.rb
  backend/db/schema.rb
  backend/lib/tasks/dump.rake
Labels: backend

#30 Ml/modify stub gen path & Add dockerfile for ml
  .gitignore
  idl/buf.gen.yaml
  ml/Dockerfile
  ml/main.py
  ml/swpp/v1/place_pb2.py
  ml/swpp/v1/place_pb2_grpc.py
Labels: ml

#31 Github action build workflow 추가
  .github/workflows/deploy-ml.yml
Labels: ml, deployment

#32 서버 배포 준비를 위한 `Dockerfile` 준비
  .github/workflows/deploy-backend.yml
Labels: backend, deployment

#35 test: 친구 기능
  backend/spec/models/user/friendable_spec.rb
Labels: backend

#37 장소 추천 기능 gRPC 서버
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/places_controller.rb
  backend/app/models/concerns/id_in_ordered.rb
  backend/app/models/place.rb
  backend/app/serializers/place_serializer.rb
  backend/app/services/recommend_places.rb
  backend/config/routes.rb
  backend/lib/swpp/v1/place_pb.rb
  backend/lib/swpp/v1/place_services_pb.rb
  idl/buf.gen.yaml
  ml/Dockerfile
  ml/README.md
  ml/bin/client.py
  ml/bin/k_means.py
  ml/data/clustered_output.txt
  ml/data/snuspots_latlon.txt
  ml/grpc_server.py
  ml/poetry.lock
  ml/pyproject.toml
  ml/src/infer.py
  ml/src/utils.py
  ml/swpp/v1/place_pb2.py
  ml/tests/utils_test.py
Labels: ml

#36 Location 관련 API를 추가한다
  backend/app/controllers/application_controller.rb
  backend/app/controllers/check_ins_controller.rb
  backend/app/controllers/friends/nearby_controller.rb
  backend/app/models/check_in.rb
  backend/app/models/user.rb
  backend/app/models/user/check_inable.rb
  backend/app/serializers/check_in_serializer.rb
  backend/app/serializers/user/with_location_serializer.rb
  backend/config/routes.rb
  backend/db/migrate/20231116082551_create_check_ins.rb
  backend/db/schema.rb
  backend/spec/controllers/check_ins_controller_spec.rb
  backend/spec/controllers/friends/nearby_controller_spec.rb
  backend/spec/models/check_in_spec.rb
  backend/spec/models/user/check_inable_spec.rb
  backend/spec/models/user_spec.rb
  backend/spec/rails_helper.rb
Labels: backend

#41 Modify zeitwerk load error
  backend/config/application.rb
  backend/lib/application_http_client.rb
Labels: backend

#43 Trigger CI when idl is changed
  .github/workflows/deploy-ml.yml
Labels: github-actions

#44 feat: 친구 위치 UI
  frontend/app/build.gradle.kts
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/example/frontend/MapActivity.kt
  frontend/app/src/main/java/com/example/frontend/MyApplication.kt
  frontend/app/src/main/java/com/example/frontend/PlaceRecActivity.kt
  frontend/app/src/main/java/com/example/frontend/api/FriendAPI.kt
  frontend/app/src/main/java/com/example/frontend/callback/FriendLocationCallback.kt
  frontend/app/src/main/java/com/example/frontend/interceptor/AuthInterceptor.kt
  frontend/app/src/main/java/com/example/frontend/model/UserWithLocationModel.kt
  frontend/app/src/main/java/com/example/frontend/repository/FriendsRepository.kt
  frontend/app/src/test/java/com/example/frontend/LoginUIKtTest.kt
  frontend/build.gradle.kts
Labels: frontend
