Repository snuhcs-course/swpp-2023-project-team-8, pull requests merged in 2023-12, with the labels that each got.

#49 Frontend test coverage 체크를 위해 파일 위치를 조정한다
  frontend/app/src/test/java/com/example/frontend/GsonProviderTest.kt
Labels: frontend

#47 feat: MeetUp 생성 및 조회
  backend/app/controllers/meet_ups_controller.rb
  backend/app/helpers/meet_ups_helper.rb
  backend/app/models/meet_up.rb
  backend/app/models/place.rb
  backend/app/models/user.rb
  backend/app/models/user_meet_up.rb
  backend/app/serializers/meet_up_serializer.rb
  backend/app/serializers/place_serializer.rb
  backend/config/routes.rb
  backend/db/migrate/20231129165014_create_meet_ups.rb
  backend/db/migrate/20231129170027_create_user_meet_ups.rb
  backend/db/migrate/20231129174124_add_place_id_to_meet_ups.rb
  backend/db/schema.rb
  backend/spec/helpers/meet_ups_helper_spec.rb
  backend/spec/models/meet_up_spec.rb
  backend/spec/models/user_meet_up_spec.rb
  backend/spec/requests/meet_ups_spec.rb
Labels: backend

#46 Login 모듈 정리
  frontend/app/src/main/java/com/example/frontend/UserInfoActivity.kt
  frontend/app/src/main/java/com/example/frontend/api/FriendService.kt
  frontend/app/src/main/java/com/example/frontend/ui/login/LoginScreen.kt
  frontend/app/src/main/java/com/example/frontend/ui/login/LoginUI.kt
  frontend/app/src/main/java/com/example/frontend/ui/login/RegisterUI.kt
Labels: frontend

#65 feat: 친구 UI
  backend/app/controllers/friends_controller.rb
  backend/app/controllers/users_controller.rb
  backend/config/routes.rb
  frontend/app/src/main/AndroidManifest.xml
  frontend/app/src/main/java/com/example/frontend/AddFriendActivity.kt
  frontend/app/src/main/java/com/example/frontend/MapActivity.kt
  frontend/app/src/main/java/com/example/frontend/MeetupListUI.kt
  frontend/app/src/main/java/com/example/frontend/api/UserService.kt
  frontend/app/src/main/java/com/example/frontend/model/UserModel.kt
  frontend/app/src/main/java/com/example/frontend/repository/FriendsRepository.kt
  frontend/app/src/main/java/com/example/frontend/repository/UsersRepository.kt
  frontend/app/src/main/java/com/example/frontend/ui/component/LoadingIndicator.kt
  frontend/app/src/main/java/com/example/frontend/ui/component/MyTopAppBar.kt
  frontend/app/src/main/java/com/example/frontend/ui/friend/FriendActivity.kt
  frontend/app/src/main/java/com/example/frontend/ui/friend/FriendListUI.kt
  frontend/app/src/main/java/com/example/frontend/ui/friend/FriendRequestUI.kt
  frontend/app/src/main/java/com/example/frontend/ui/friend/UserListUI.kt
  frontend/app/src/main/res/values/strings.xml
Labels: backend, frontend

#63 Fix minor bug on pending_requests
  backend/app/controllers/users/pending_requests_controller.rb
Labels: backend

#61 Login / Register 정리
  frontend/app/src/main/java/com/example/frontend/SplashScreenActivity.kt
  frontend/app/src/main/java/com/example/frontend/api/AuthService.kt
  frontend/app/src/main/java/com/example/frontend/model/AuthResponse.kt
  frontend/app/src/main/java/com/example/frontend/repository/UserContextRepository.kt
  frontend/app/src/main/java/com/example/frontend/ui/login/LoginScreen.kt
  frontend/app/src/main/java/com/example/frontend/ui/login/LoginUI.kt
  frontend/app/src/main/java/com/example/frontend/ui/login/RegisterUI.kt
  frontend/app/src/main/java/com/example/frontend/usecase/login/LoginUseCase.kt
  frontend/app/src/main/java/com/example/frontend/usecase/login/RegisterUseCase.kt
  frontend/app/src/main/java/com/example/frontend/usecase/login/SendVerificationCodeUseCase.kt
  frontend/app/src/main/java/com/example/frontend/utilities/EncryptedSharedPreferenceKVStore.kt
  frontend/app/src/main/java/com/example/frontend/utilities/HttpStatus.kt
  frontend/app/src/main/java/com/example/frontend/utilities/InMemoryKVStore.kt
  frontend/app/src/main/java/com/example/frontend/utilities/KVStore.kt
  frontend/app/src/main/java/com/example/frontend/utilities/SharedPreferenceKVStore.kt
  frontend/app/src/main/java/com/example/frontend/utilities/validators.kt
  frontend/app/src/test/java/com/example/frontend/HttpStatusTest.kt
  frontend/app/src/test/java/com/example/frontend/InMemoryKVStoreTest.kt
  frontend/app/src/test/java/com/example/frontend/LoginUIKtTest.kt
  frontend/app/src/test/java/com/example/frontend/UserContextRepositoryTest.kt
  frontend/app/src/test/java/com/example/frontend/ValidatorsKtTest.kt
Labels: frontend

#68 서버 미션 업데이트
  backend/app/controllers/access_controller.rb
  backend/app/controllers/friends_controller.rb
  backend/app/controllers/meet_ups_controller.rb
  backend/app/controllers/missions_controller.rb
  backend/app/models/mission.rb
  backend/app/serializers/mission_serializer.rb
  backend/config/routes.rb
Labels: backend

#74 feat: 미션 ui 서버 연결
  backend/app/controllers/missions_controller.rb
  frontend/app/src/main/java/com/example/frontend/MeetupActivity.kt
  frontend/app/src/main/java/com/example/frontend/MissionActivity.kt
  frontend/app/src/main/java/com/example/frontend/api/MissionService.kt
  frontend/app/src/main/java/com/example/frontend/data/data.kt
  frontend/app/src/main/java/com/example/frontend/model/MissionModel.kt
  frontend/app/src/main/java/com/example/frontend/usecase/ListMissionUseCase.kt
Labels: frontend

#81 feat: 밋업 목록 UI
  frontend/app/src/main/java/com/example/frontend/MeetupListUI.kt
  frontend/app/src/main/java/com/example/frontend/api/MeetUpService.kt
  frontend/app/src/main/java/com/example/frontend/data/data.kt
  frontend/app/src/main/java/com/example/frontend/model/MeetUpResponse.kt
  frontend/app/src/main/java/com/example/frontend/usecase/ListMeetUpUseCase.kt
  frontend/app/src/main/java/com/example/frontend/utilities/GsonProvider.kt
Labels: frontend

#82 자잘한 수정사항
  frontend/app/src/main/java/com/example/frontend/MeetupListUI.kt
  frontend/app/src/main/java/com/example/frontend/MissionActivity.kt
  frontend/app/src/main/java/com/example/frontend/repository/FriendsRepository.kt
Labels: frontend

#83 약속 정렬
  backend/app/controllers/meet_ups_controller.rb
  frontend/app/src/main/java/com/example/frontend/utilities/GsonProvider.kt
Labels: backend, frontend

#86 user_mission record 없을때 미션 UI 제대로 안뜨던 것 수정
  backend/app/controllers/missions_controller.rb
  frontend/app/src/main/java/com/example/frontend/MissionActivity.kt
  frontend/app/src/main/java/com/example/frontend/model/MissionModel.kt
Labels: bug

#89 미션 UI 스크린 width 맞게 조정
  frontend/app/src/main/java/com/example/frontend/MeetupListUI.kt
  frontend/app/src/main/java/com/example/frontend/MissionActivity.kt
  frontend/app/src/main/java/com/example/frontend/model/PlaceModel.kt
Labels: frontend
